In [5]:
a=10
b=34

if a==10 and b>34:
    print("This is a valid statement")
elif a==10 and b<=34:
    print("This statement is valid under elif condition")
else:
    print("Condition is not valid")

This statement is valid under elif condition

In [2]:
a == 10 and b > 32

True

In [3]:
a == 10 and b > 34

False

In [9]:
a = 20
b = 30

if a < 20 or b > 30:
    print("This is a valid stat")
elif a < 20 or b < 30:
    print("This stat is valid under elif")
else:
    print("Statement is not valid")

Statement is not valid

In [19]:
first_name = input("This is my first name: ")
last_name = input("This is my last name: ")

This is my first name: mohammad
This is my last name: irfan

In [20]:
if first_name == "mohammad" and last_name == "irfan":
    print("This is correct")
elif first_name == "irfan" and last_name == "mohammad":
    print("This is not wrong")
else:
    print("This is wrong")

This is correct

In [21]:
# While statement

In [22]:
initial_speed = 0
final_speed = 100
count = 1

while initial_speed < final_speed:
    print("this is my speed")
    count = count + 1
    if count == 10:
        break

this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed
this is my speed

In [23]:
i = 1
j = 8

while i < j:
    print(i)
    i = i+ 1

1
2
3
4
5
6
7

In [24]:
notes = 5
i = 1

while i < notes:
    print(i)
    i +=1
else:
    print("break")

1
2
3
4
break

In [30]:
time = 8
i = 3
j = 14

while time>i:
    print(time)
    i+=1
else:
    while time<=j:
        print(time)
        time+=2
    else:
        print("fg")

8
8
8
8
8
8
10
12
14
fg

In [31]:
s = "my name is irfan"

In [33]:
s[3:10:1]

'name is'

In [35]:
# 3rd index is included while 10th index is exluded and step-size is 1

In [36]:
# Reversal of string: To get output in reverse order use negative step-size

In [34]:
s[10:3:-1]

' si ema'

In [37]:
s[::-1]

'nafri si eman ym'

In [38]:
s[-2]

'a'

In [39]:
# In backward dir, indices are labelled as -1,-2,-3,..

In [40]:
s[3:-3]

'name is ir'

In [41]:
s

'my name is irfan'

In [ ]:
# We have to iterate over our string s
# k is a local variable which we have created it can be anything

In [53]:
for k in s:
    print(k)
    if k == 'i':
        print("this is the initials")
else:
    if k == 'n':
        print("this is last char n")

m
y

n
a
m
e

i
this is the initials
s

i
this is the initials
r
f
a
n
this is last char n

In [47]:
# After our for loop has exhausted or completed itself then only it comes in else statement

In [50]:
for k in s:
    if k == 'f':
        continue
    print(k)
else:
    if k == 'n':
        print("this is last char n")

m
y

n
a
m
e

i
s

i
r
a
n
this is last char n

In [54]:
# continue statement will not execute the commands below and will redirect you to for loop start point again

In [55]:
i = 'nomadic island'
j = ''

for k in range(len(i)):
    if i[k] == 'i':
        continue
    else:
        j = j + i[k]

In [56]:
j

'nomadc sland'

In [9]:
n = 7

for i in range(0,n):
    for j in range(0,i+1):
        print("+ ",end='')
    print("\r")

+
+ +
+ + +
+ + + +
+ + + + +
+ + + + + +
+ + + + + + +

In [1]:
n=5
for i in range(n):
    for j in range(n):
        print("*",end=" ")
    print()

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [11]:
# Outer loop(variable i wala) determines the rows & inner loop(var j wala) determines the columns

In [12]:
# empty print statement at the end is linked to rows or outer loop

In [ ]:
# INCREASING STAR

In [4]:
n=5
for i in range(n):
    for j in range(i+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *

In [ ]:
# DECREASING STAR

In [8]:
n=5
for i in range(n):
    for j in range(i,n):
        print('*',end=' ')
    print()

* * * * *
* * * *
* * *
* *
*

In [ ]:
# Combination of DECREASING SPACE & INCREASING STAR (combo of upper two)

In [9]:
n=5
for i in range(n):
    for j in range(i,n):
        print(' ', end=' ')
    for j in range(i+1):
        print('*', end=' ')
    print()

          *
        * *
      * * *
    * * * *
  * * * * *

In [13]:
# Combination of INCREASING SPACE & DECREASING STAR

In [6]:
n=5
for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,n):
        print('*',end=' ')
    print()

  * * * * *
    * * * *
      * * *
        * *
          *

In [16]:
# HILL PATTERN

In [18]:
n=5
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(i):
        print('*',end=' ')
    for j in range(i+1):
        print('*',end=' ')
    print()

          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [22]:
# REVERSE HILL PATTERN

In [21]:
n=5
for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i,n-1):
        print('*',end=' ')
    for j in range(i,n):
        print('*',end=' ')
    print()

  * * * * * * * * *
    * * * * * * *
      * * * * *
        * * *
          *

In [1]:
n=6
for i in range(n):
    for j in range(i+1):
        print('*',end=' ')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [4]:
n=4
for i in range(n):
    for j in range(i+1):
        print(' ',end=' ')
    for j in range(i+1,n):
        print('*',end=' ')
    for j in range(i,n):
        print('*',end=' ')
    print()

  * * * * * * *
    * * * * *
      * * *
        *

In [2]:
n=int(input("Enter the no. of rows: "))
for i in range(n):
    for j in range(n-2*i+2):
        print(end=' ')
    for j in range(2*i+1):
        print('*',end=' ')
    print()

Enter the no. of rows: 5
       *
     * * *
   * * * * *
 * * * * * * *
* * * * * * * * *

In [34]:
n=int(input('Enter the no. of rows: '))
for i in range(n):
    for j in range(i+1):
        print(end=" ")
    for j in range(i,n):
        print('*',end=" ")
    print()

Enter the no. of rows: 6
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [58]:
n=int(input('Enter the no. of rows: '))
for i in range(n,0,-1):
    for j in range(n-i):
        print(' ',end=' ')
    for j in range(2*i-1):
        print('*',end=' ')
    print()

Enter the no. of rows: 4
* * * * * * *
  * * * * *
    * * *
      *

In [60]:
n=int(input('Enter the no. of rows: '))
for i in range(n):
    for j in range(i,n):
        print(' ',end=' ')
    for j in range(2*i+1):
        print('*',end=' ')
    print()

Enter the no. of rows: 5
          *
        * * *
      * * * * *
    * * * * * * *
  * * * * * * * * *

In [5]:
n=int(input('Enter the no. of rows: '))
row = 0

while row<n:
    space = n-row-1
    while space>0:
        print(' ',end=' ')
        space=space-1
    star=2*row+1
    while star>0:
        print('*',end=' ')
        star=star-1
    row=row+1
    print()

Enter the no. of rows: 4
      *
    * * *
  * * * * *
* * * * * * *

In [9]:
l=["mohai",45356,"golconda", 45+6j,45.77,[45,6,"hjd",3.5]]

In [10]:
for i in l:
    if type(i)==list:
        for j in i:
            print(type(j))

<class 'int'>
<class 'int'>
<class 'str'>
<class 'float'>

In [14]:
for i in l:
    if type(i)==list:
        n=0
        for j in i:
            if type(j)==int:
                n=n+j
        print(n)

51

In [15]:
l[0:5]

['mohai', 45356, 'golconda', (45+6j), 45.77]

In [16]:
list(range(7))

[0, 1, 2, 3, 4, 5, 6]

In [19]:
l1=list([3,24,5])

In [20]:
l1

[3, 24, 5]