## Function

- Required argument
- Keyword argument
- Default argument
- Variable arguments

In [1]:
a=3
b=6
a+b

9

#### From a function's perspective:

###### A parameter is the variable listed inside the parentheses in the function definition.

###### An argument is the value that is sent to the function when it is called.

In [2]:
def test(x,y):
    print(x+y)

In [3]:
test(3,6)

9

In [9]:
a=test(45,75.7)

120.7

In [10]:
a

`a` doesn't print anything when we call it seperately after assigning it previously as the `print` statement gives a `NoneType` datatype

In [5]:
type(test(4,6))

10

NoneType

In [6]:
def test1(m,n):
    return m*n

In [7]:
test1(3,6)

18

In [8]:
type(test1(3,7))

int

`return` tries to give us the exact datatype of the operation we want it to execute and return

In [11]:
a=test1(75,4)

In [12]:
a

300

In [13]:
a+355

655

In [14]:
def test2(a,b,c):
    return a+b*c, a-3+b, c*b-a

In [18]:
test2(3,5,7)

(38, 5, 32)

In [17]:
type(test2(3,5,3))

tuple

In [19]:
f,g,h=test2(3,5,7)

In [20]:
f

38

In [21]:
g

5

In [22]:
h

32

For example, if you don't want middle data i.e. a-3+b then you can reduce variable g and replace it by a placeholder(_). I am not holding the return of the function anywhere.

In [23]:
f,_,h=test2(3,5,7)

In [24]:
f

38

In [25]:
_

5

In [26]:
h

32

In [27]:
def test():
    print('This is my class')

In [28]:
c=test()

This is my class

In [29]:
c+'work'

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

In [30]:
def test4():
    return "This is my class"

In [31]:
d=test4()

In [32]:
d+'work'

'This is my classwork'

In [33]:
def test5(n):
    return n*3

In [34]:
test5([3,5,7])

[3, 5, 7, 3, 5, 7, 3, 5, 7]

In [35]:
def test6(n):
    return n, n*2

In [38]:
a = test6([3,4,2])
a

([3, 4, 2], [3, 4, 2, 3, 4, 2])

In [39]:
a[0]

[3, 4, 2]

In [40]:
a[1]

[3, 4, 2, 3, 4, 2]

In [42]:
def test7(n,m=3):
    return n-m

In [43]:
test7(3)

0

In [45]:
def boolx(x=True,y=False):
    return x*y

In [46]:
boolx(False)

0

In [47]:
boolx(True,4)

4

In [48]:
boolx(3,False)

0

I am able to overwrite the existing values which someone has given at time of fucntion creation.

In [49]:
def travel(bike=True,car=False):
    plan_travel = bike and car
    return car, bike, plan_travel

In [50]:
travel()

(False, True, False)

In [51]:
travel(False)

(False, False, False)

By default it assigns the value `False` to first variable in argument i.e. bike. To assign a diff value to car we need to specify and assign it as below.

In [52]:
travel(car=True)

(True, True, True)

In [4]:
def test8(*args):
    return args

using `*args`, I can provide any number of arguments as I want and accordingly it will return value based upon the operation.

In [5]:
test8('ineuron','full',34.4,'stack',[3,'dev'],(4,2))

('ineuron', 'full', 34.4, 'stack', [3, 'dev'], (4, 2))

#### Write a function which can take multiple lists and finally return a single list i.e. performs concatenation operation.

In [6]:

def myfun(*args ):
    l=[]
    for i in args:
        l=l+i
    return l

In [7]:
myfun([2,3],[4,5],[5,6],[6,7])

[2, 3, 4, 5, 5, 6, 6, 7]

In [8]:
myfun([34,4,5],[3,5],[6,3],[6.4,3],[3.7,4],[45,3],[67,4],[6,3])

[34, 4, 5, 3, 5, 6, 3, 6.4, 3, 3.7, 4, 45, 3, 67, 4, 6, 3]

In [11]:
def myfun1(*args):
    l=[]
    return [l.extend(i) for i in args]

In [12]:
myfun1([2,3],[4,5],[5,6],[6,7])

[None, None, None, None]

In [29]:
def fu(*args):
    l=[]
    for i in args:
        l.extend(i)
    return l

In [30]:
fu([3,4],[6,4],[7,2])

[3, 4, 6, 4, 7, 2]

using `**kwargs` (keyword args), I can provide any number of arguments to a function but in a key & value pair.

In [63]:
def test8(**kwargs):
    return kwargs

In [64]:
test8(b=3, a=4, c=5)

{'b': 3, 'a': 4, 'c': 5}

In [37]:
test8(a='sufh', b=False, c=[4,5.6],d=(34,5))

{'a': 'sufh', 'b': False, 'c': [4, 5.6], 'd': (34, 5)}

So we can conclude that `*args` return `tuples` and `**kwargs` returns `dictionary`.

### Class Task
#### 1. Create a function which takes any number of mixed data and create a list of seperate data based on datatype & return multiple result.
#### 2. Create a functtion which will be able to use *args and **kwargs and will be able to do all the list value concatenation and return a list.

In [22]:
# Solution 1.
def fun(*args):
    l1=[]
    l2=[]
    l3=[]
    l4=[]
    l5=[]
    l6=[]
    for i in args:
        if type(i) == int:
            l1.append(i)
        if type(i) == str:
            l2.append(i)
        if type(i) == bool:
            l3.append(i)
        if type(i) == float:
            l4.append(i)
        if type(i) == list:
            l5.append(i)
        if type(i) == tuple:
            l6.append(i)
    print('integer-->',l1,'string-->',l2,'boolean-->',l3,'float-->',l4,'list',l5,'tuple',l6)
    return l1, l2, l3, l4, l5, l6

In [23]:
fun('raa',[4,6],True,35.7,99,False,(3,4,6.1),[75,2],'neuron',(5,3),34,5.33,False)

integer--> [99, 34] string--> ['raa', 'neuron'] boolean--> [True, False, False] float--> [35.7, 5.33] list [[4, 6], [75, 2]] tuple [(3, 4, 6.1), (5, 3)]

([99, 34],
 ['raa', 'neuron'],
 [True, False, False],
 [35.7, 5.33],
 [[4, 6], [75, 2]],
 [(3, 4, 6.1), (5, 3)])

In [16]:
def f1(*args):
    d={}
    for i in args:
        k=type(i)
        if k not in d:
            d[k]=[]
        d[k].append(i)
    return d

In [17]:
f1(3,4.6,(34,5),'new',32.6,False,[4,3],4+5j,34,True,(34,7.5))

{int: [3, 34],
 float: [4.6, 32.6],
 tuple: [(34, 5), (34, 7.5)],
 str: ['new'],
 bool: [False, True],
 list: [[4, 3]],
 complex: [(4+5j)]}

In [2]:
def f2(*args):
    d={}
    for i in args:                          # iterates through the arguments. First arg is integer 3.
        if type(i) not in d:                # checks type(3) which is int and it is not present in d.
            d[type(i)]=[]                   # So, add the key(int) in the dictionary and assign an empty list.
        d[type(i)].append(i)                # we then append 3 to that list.
    return d                                # List for 'int' key just contains the integer 3.

'''Second time when we encounter an integer say 34, since we already have the 'int' key we need not create it, instead we 
just append 34 to the existing list for the 'int' key which makes that list now [3,34] and so on.'''

"Second time when we encounter an integer say 34, since we already have the 'int' key we need not create it, instead we \njust append 34 to the existing list for the 'int' key which makes that list now [3,34] and so on."

In [24]:
f2(3,4.6,(34,5),'new',32.6,False,[4,3],4+5j,34,'blu',True,(34,7.5))

{int: [3, 34],
 float: [4.6, 32.6],
 tuple: [(34, 5), (34, 7.5)],
 str: ['new', 'blu'],
 bool: [False, True],
 list: [[4, 3]],
 complex: [(4+5j)]}

In [5]:
# Solution 1. DYNAMIC CODE (we can give any data-type and it returns the value)
def fun0(*args):
    d={}
    for i in args:
        if type(i) in d:
            d[type(i)].append(i)
        else:
            d[type(i)] = [i]
    return d

In [6]:
fun0(3,4.6,(34,5),'new',32.6,False,[4,3],4+5j,34,True)

{int: [3, 34],
 float: [4.6, 32.6],
 tuple: [(34, 5)],
 str: ['new'],
 bool: [False, True],
 list: [[4, 3]],
 complex: [(4+5j)]}

In [31]:
# Solution 2.
def fun1(*args,**kwargs):
    l=[]
    for i in args:
        if type(i) == list:
            l.append(i)
    for i in kwargs.values():
        if type(i) == list:
            l.append(i)
    return l

In [32]:
fun1([2,3],5,'fill',a='34',c='new',d=[3,45,4])

[[2, 3], [3, 45, 4]]

In [34]:
# Solution 2.
def fun2(*args,**kwargs):
    l=[i for i in args if type(i) == list]
    k=[i for i in kwargs.values() if type(i) == list]
    return l, k

In [35]:
fun2(4,3.4,[35,'nre',8],a='sam',b=[33,'fre'],c=5.3)

([[35, 'nre', 8]], [[33, 'fre']])

In [45]:
d={'a':'new','c':45}
d['a']

'new'

In [8]:
d=['i']
type(d)

list

In [13]:
def fun33(x,y):
    for i in range(3):
        x*i+y

In [14]:
fun33(4,3)

### Anonymous Function (function without any name) using `lambda` keyword

In [13]:
a=20
b=30

def test1(x,y):
    return x+y

In [14]:
test1(a,b)

50

In [15]:
m = lambda x,y : x+y   # lambda is not function name, it is a predefined keyword inside python that's why is green

In [16]:
m(a,b)

50

In [17]:
m("full","stack")

'fullstack'

In [18]:
a = 4

def test2(x,y):
    a = x/y
    print(a)

In [19]:
test2(12,2)

6.0

#### Even though I have defined `a` beforehand, it prints the value of local variable `a = x/y` defined within the function & this local variable is accessible only inside this function clause called the local scope and the assignment before the function definition i.e. `a = 4` is the global scope and can be accessed anywhere throughout the code.

### Creating function Docstring

In [20]:
def test3(a,b):
    '''
    This is my function docstring and here is where the information regarding the function is stored for future reference.
    a = This is the first argument
    b = Will try to do a task
    '''
    print("My name is xcv")

In [21]:
test3(2,3)

My name is xcv

In [22]:
help(test3)

Help on function test3 in module __main__:

test3(a, b)
    This is my function docstring and here is where the information regarding the function is stored for future reference.
    a = This is the first argument
    b = Will try to do a task

#### String is an iterable. But it is not an iterator as it doesn't remember it previous location and by default will not jump to next location. So, `iter` function will convert my string into an iterator & it will convert only those objects to iterator which are iterable.

In [1]:
s = 'neuron'
next(s)

TypeError: 'str' object is not an iterator

In [3]:
m = iter(s)
next(m)

'n'

In [6]:
next(m)

'e'

In [7]:
next(m)

'u'

#### Since, `int` object is not a iterable, so even after using `iter` function we cannot convert it to iterator.

In [4]:
t = 34
next(t)

TypeError: 'int' object is not an iterator

In [5]:
k = iter(t)
next(k)

TypeError: 'int' object is not iterable

#### Iterable is a kind of object which can be accessed with the help of indexes while `iterator` means an object which can remember last location and gives you next location in next step.

In [8]:
s = 'sudh'
k = iter(s)
next(k)

's'

In [9]:
next(k)

'u'

In [10]:
next(k)

'd'

In [11]:
next(k)

'h'

In [12]:
for i in 'sudh':
    print(i)

s
u
d
h

#### We can say that `for loop` is converting our string into an iterator first and then internally performing the `next` operations to call it successively. In for loop it knows where it has to stop.

In [13]:
l = [3,4,56,35,24]
next(l)

TypeError: 'list' object is not an iterator

In [14]:
f = iter(l)
next(f)

3

In [15]:
next(f)

4

#### List, tuple, strings all are iterable objects by default but not iterator objects. So, when you call these things inside a for loop, system converts these iterable objects into iterator objects, and then apply next function on it to extract information one  by one. It also calls the len function so that it knows where to stop calling the next function.

#### So, list is also not an iterator but is an iterable object.

### map():
#### "A map function executes certain instructions or functionality provided to it on every item of an iterable."

The iterable could be a list, tuple, set, etc. It is worth noting that the output in the case of the map is also an iterable i.e., a list. It is a built-in function, so no import statement required.

##### It is a generator function.

SYNTAX:
map(function, iterable) 

A map function takes two parameters:

- First one is the function through which we want to pass the items/values of the iterable
- The second one is the iterable itself

In [98]:
item = [1,2,4,6,8]
a = list(map((lambda x: x**3),item))
print(a)

[1, 8, 64, 216, 512]

In [1]:
l = [2,4,5,6,8,9]
print(list(map((lambda i:i*i),l)))

[4, 16, 25, 36, 64, 81]

In [3]:
def sq(n):
    return n*n

list(map(sq,l))

[4, 16, 25, 36, 64, 81]

In [4]:
# Convert every element inside the list l into string
list(map(lambda x: str(x), l))

['2', '4', '5', '6', '8', '9']

In [5]:
list(map(str, l))   # str is an in-build function which is already available. We can directly call that.

['2', '4', '5', '6', '8', '9']

### filter():-
"A filter function in Python tests a specific user-defined condition for a function and returns an iterable for the elements and values that satisfy the condition or, in other words, return true."

It is also a built-in function, so no need for an import statement. All the actions we perform using the filter can also be performed by using a for loop for iteration and if-else statements to check the conditions. We can also use a Boolean that could take note of true or false, but that would make the process very lengthy and complex. So, to simplify the code, we can use the filter function.

SYNTAX

In [ ]:
filter(function, iterable)

It also takes two parameters:

- First one is the function for which the condition should satisfy
- The second one is the iterable

In [91]:
a = [1,2,3,4,5,6]
b = [2,5,0,7,3]
c= list(filter(lambda x: x in a, b))
print(c) # prints out [2, 5, 3]

[2, 5, 3]

In [95]:
list1 = [2,3,4,5,9,45,77,21]

def is_greater(num):
    return num > 8

gr_thn_8 = list(filter(is_greater, list1))
print(gr_thn_8)

[9, 45, 77, 21]

### reduce():
#### "Reduce functions apply a function to every item of an iterable and gives back a single value as a resultant".

Unlike the previous two functions (Filter and Map), we have to import the reduce function from functools module using the statement:

##### from functools import reduce

We can also import the whole functools module by simply writing

##### Import functools

But in the case of bigger projects, it is not good practice to import a whole module because of time restraint.

SYNTAX:

In [96]:
from functools import reduce

list1 = [4,5,6,7,8]
num = reduce(lambda x,y: x*y, list1)
print(num)

6720

### Generator

It is not supposed to remmeber what I have done in last steps, it is just supposed to remember my previous step. It simply means that display the runtime result values.

In [28]:
def test(n):
    l=[]
    for i in range(n):
        l.append(i**3)
    return l

In [31]:
test(4)

[0, 1, 8, 27]

If we give `n = 400000` while calling the test function then it appends data one by one at same memory location of blank list l which we initially created and hence will take a lot of time to display the results even in 64 GB RAM and 4.2 GHz speed.

So by specifying the `yield` keyword we convert normal function to a `generator` function. which is of advantage as it is able to give the output then & there in runtime. It is less memory intensive operation.

Instead of `yield` we can use `print` but print returns datatype which is `nonetype` and further computation is not possible.

In [32]:
def gen(n):
    for i in range(n):
        yield i**3

In [33]:
gen(20)

This gives an object and to see the elements within this `gen` function, we need to use the for loop.

In [34]:
for i in gen(200):
    print(i)

0
1
8
27
64
125
216
343
512
729
1000
1331
1728
2197
2744
3375
4096
4913
5832
6859
8000
9261
10648
12167
13824
15625
17576
19683
21952
24389
27000
29791
32768
35937
39304
42875
46656
50653
54872
59319
64000
68921
74088
79507
85184
91125
97336
103823
110592
117649
125000
132651
140608
148877
157464
166375
175616
185193
195112
205379
216000
226981
238328
250047
262144
274625
287496
300763
314432
328509
343000
357911
373248
389017
405224
421875
438976
456533
474552
493039
512000
531441
551368
571787
592704
614125
636056
658503
681472
704969
729000
753571
778688
804357
830584
857375
884736
912673
941192
970299
1000000
1030301
1061208
1092727
1124864
1157625
1191016
1225043
1259712
1295029
1331000
1367631
1404928
1442897
1481544
1520875
1560896
1601613
1643032
1685159
1728000
1771561
1815848
1860867
1906624
1953125
2000376
2048383
2097152
2146689
2197000
2248091
2299968
2352637
2406104
2460375
2515456
2571353
2628072
2685619
2744000
2803221
2863288
2924207
2985984
3048625
3112136
3176523
3241792
3307949
3375000
3442951
3511808
3581577
3652264
3723875
3796416
3869893
3944312
4019679
4096000
4173281
4251528
4330747
4410944
4492125
4574296
4657463
4741632
4826809
4913000
5000211
5088448
5177717
5268024
5359375
5451776
5545233
5639752
5735339
5832000
5929741
6028568
6128487
6229504
6331625
6434856
6539203
6644672
6751269
6859000
6967871
7077888
7189057
7301384
7414875
7529536
7645373
7762392
7880599

### Fibonacci Series

In [44]:
def fib(n):
    a = 1
    b = 1
    l = []
    for i in range(n):
        l.append(a)
        a, b = b, a+b
    return l

In [45]:
fib(8)

[1, 1, 2, 3, 5, 8, 13, 21]

In [46]:
def genfib(n):
    a = 1
    b = 1
    for i in range(n):
        yield a
        a, b = b, a+b

In [47]:
genfib(13)

In [48]:
for i in genfib(13):
    print(i)

1
1
2
3
5
8
13
21
34
55
89
144
233

In [ ]:
Todays task : 5th June 2022
    q1 : Try to print a prime number in between 1 to 1000
    q2 : Try to write a function which  is equivalent  to print function in python
    q3 : Try to write a function which is a replica of list append , extend and pop function 
    q4 : Try to write a lambda function which can return a concatination of all the string that we will pass
    q5 : Try to write a lambda function which can return list of square of all the data between 1-100 
    q6 : Try to write a 10 Different different example of lambda function with a choice of your taks 
    q7 : Try to wwrite a funtion whihc can perform a read operation from .txt file 
        
        shivan@ineuron.ai
        sudhashu@ineuron.ai

In [4]:
for i in range(1,1001):
    count = 0
    for j in range(1,i+1):
        if i%j == 0:
            count += 1
    if count == 2:
        print(i)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199
211
223
227
229
233
239
241
251
257
263
269
271
277
281
283
293
307
311
313
317
331
337
347
349
353
359
367
373
379
383
389
397
401
409
419
421
431
433
439
443
449
457
461
463
467
479
487
491
499
503
509
521
523
541
547
557
563
569
571
577
587
593
599
601
607
613
617
619
631
641
643
647
653
659
661
673
677
683
691
701
709
719
727
733
739
743
751
757
761
769
773
787
797
809
811
821
823
827
829
839
853
857
859
863
877
881
883
887
907
911
919
929
937
941
947
953
967
971
977
983
991
997

In [37]:
def pri_fun(*word):
    l=[]
    for i in word:
        l.append(i)
    data = ' '.join(l)
    return data

In [38]:
str1 = 'Welcome'
str2 = 'Python'
pri_fun(str1,str2)

'Welcome Python'

In [39]:
str1 = 'Welcome'
str2 = 'Python'
print(str1,str2)

Welcome Python

In [52]:
l=[4,5,6]
l.append(9)
print(l)
l.extend([7,8])
print(l)
l.pop(2)
print(l)

[4, 5, 6, 9]
[4, 5, 6, 9, 7, 8]
[4, 5, 9, 7, 8]

In [59]:
def app(p):
    '''Replica of append function'''
    l = [4,5,6]
    l1=[p]
    l = l+l1
    return l 
app(9)

[4, 5, 6, 9]

In [57]:
def ext(p):
    '''Replica of extend function'''
    l=[4,5,6]
    for i in p:
        l1=[i]
        l=l+l1
    return l
ext([7,8])

[4, 5, 6, 7, 8]

In [58]:
def fpop(p):
    '''Replica of pop function'''
    l=[4,5,6]
    del l[p]
    return l
fpop(2)

[4, 5]

In [85]:
concat = lambda *args : [f'{words}' for words in args]

In [86]:
concat('neuron', ' data',' small', ' big',' dal',' fdf',' fsfs',' yrr')

['neuron', ' data', ' small', ' big', ' dal', ' fdf', ' fsfs', ' yrr']

In [88]:
from functools import reduce
data = ['neuron', ' data',' small', ' big',' dal',' fdf',' fsfs',' yrr']
#stark = ['robb', 'sansa', 'arya', 'eddard', 'jon']
result = reduce(lambda x,y: x+y, data)
#result = reduce(lambda item1,item2: item1+item2, stark)
# Print the result
print(result)

neuron data small big dal fdf fsfs yrr

#### Concatenation of Strings

In [76]:
def fun(*args):
    for i in args:
        for j in args:
            if i != j:
                i = i+j
        return i
fun('neuron', ' data',' small', ' big',' dal',' fdf',' fsfs',' yrr')

'neuron data small big dal fdf fsfs yrr'

In [77]:
def fun1(*args):
    new = ""
    for words in args:
        new += words
    return new

In [78]:
fun1('neuron', ' data',' small', ' big',' dal',' fdf',' fsfs',' yrr')

'neuron data small big dal fdf fsfs yrr'

In [99]:
#Try to write a lambda function which can return list of square of all the data between 1-100 

l1=[]
for i in range(1,101):
    l1.append(i)

sq = list(map(lambda x: x**2, l1))
print(sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400, 441, 484, 529, 576, 625, 676, 729, 784, 841, 900, 961, 1024, 1089, 1156, 1225, 1296, 1369, 1444, 1521, 1600, 1681, 1764, 1849, 1936, 2025, 2116, 2209, 2304, 2401, 2500, 2601, 2704, 2809, 2916, 3025, 3136, 3249, 3364, 3481, 3600, 3721, 3844, 3969, 4096, 4225, 4356, 4489, 4624, 4761, 4900, 5041, 5184, 5329, 5476, 5625, 5776, 5929, 6084, 6241, 6400, 6561, 6724, 6889, 7056, 7225, 7396, 7569, 7744, 7921, 8100, 8281, 8464, 8649, 8836, 9025, 9216, 9409, 9604, 9801, 10000]

In [102]:
#Try to write a 10 different example of lambda function with a choice of your tasks

#Ex1: Print square of number

square = lambda x : x **2
square(10)

100

In [105]:
# Ex2: Print remainder 

mod = lambda x : x % 5
mod(9)

4

In [106]:
# Ex3: Print addition of two numbers

add = lambda x,y: x+y
add(5,7)

12

In [107]:
#Ex4: Maximum of two numbers

max = lambda x,y: x if x>y else y
max(6,9)

9

In [118]:
#Ex5: Odd or Even

odd_even = lambda x: (x%2 and 'odd' or 'even')
odd_even(42)

'even'

In [138]:
# Ex6: Capitalize the first letter of given words

list11 = ['data', 'science', 'course']

cap = list(map(lambda f: f.capitalize(), list11))
print(cap)

['Data', 'Science', 'Course']

In [119]:
#Ex7: Cube of list of numbers

list1=[4,5,6]

sqr = list(map(lambda x : x**3, list1)) 
print(sqr)

[64, 125, 216]

In [123]:
#Ex 8: Extract even numbers from the list

list2 = [4,65,78,43,99,204]

even = list(filter(lambda x: x % 2 == 0, list2))
print(even)

[4, 78, 204]

In [139]:
# Ex9: Extract odd numbers from 1-20

odd = list(filter(lambda x : x % 2 != 0, range(21)))
print(odd)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [126]:
#Ex 10: Multiplication of given list of numbers
list3 = [3,5,4,1]

num = reduce(lambda item1,item2 : item1 * item2, list3)
print(num)

60

In [8]:
#q7 Try to write a funtion which can perform a read operation from .txt file 

import os
#os.chdir("./File")
os.getcwd()

'C:\\Users\\Mohammad Irfan\\File'

In [10]:
def read_txt(filename):
    with open(filename) as f:
        for line in f:
            print(line)

In [11]:
read_txt("test.txt")

This is my first python file.

I want to perform some file handling operations.

Let's see what happens.

Here we begin.

In [13]:
year = int(input("Enter the year: "))

if year % 4 == 0:
    out = "Leap year"
else:
    out = "Not a leap year"
print("Output - ",out)

Enter the year: 2013
Output -  Not a leap year

In [15]:
year = int(input("Input - "))
if year % 4 == 0:
    Output = "Leap year"
else:
    Output = "Not a leap year"

print("Output - ",Output)

Input - 2017
Output -  Not a leap year

In [16]:
True = False
while True:
    print(True)
    break

SyntaxError: cannot assign to True (<ipython-input-16-884df10221f3>, line 1)

In [21]:
d5 = {_:"sufh"}

TypeError: unhashable type: 'dict'

In [2]:
d3[_]

'sufh'

In [4]:
d4={'_':"hjds"}

In [6]:
d4['_']

'hjds'

In [7]:
d4

{'_': 'hjds'}

In [8]:
d3

{'': 'sufh'}

In [10]:
d3

{'': 'sufh'}

In [16]:
d3[_]

'sufh'

In [17]:
d3

{'sufh': 'sufh'}

In [ ]:
er = dict({_:"45"})

In [28]:
gk7 = {'_':"gff"}

In [29]:
gk7

{'_': 'gff'}

In [30]:
gk7

{'_': 'gff'}