## TUPLE

List is a mutable entity.

In [1]:
l=[1,True,4,'new',45.5]

In [2]:
l[2]=60
l

[1, True, 60, 'new', 45.5]

In [3]:
t=(1,True,4,'new',45.5)

In [5]:
t[2]

4

Tuple elements are immutable. 'tuple' object does not support item assignment. tuples can be appended.

In [6]:
t1=(3,False,8.5)
t+t1

(1, True, 4, 'new', 45.5, 3, False, 8.5)

In [7]:
t*3

(1, True, 4, 'new', 45.5, 1, True, 4, 'new', 45.5, 1, True, 4, 'new', 45.5)

Insert a single element at a particular position in tuple. Since it doesnot have insert operation like list so first convert the tuple into a list and then insert element then again reconvert into tuple.

In [8]:
t

(1, True, 4, 'new', 45.5)

In [9]:
l2=list(t)

In [10]:
l2.insert(2,54)
l2

[1, True, 54, 4, 'new', 45.5]

In [11]:
tuple(l2)

(1, True, 54, 4, 'new', 45.5)

As I convert a tuple into list, immutability concept is not violated as my complete memory location has changed and the insert operation is performed on list in the new location.

In [16]:
t=((3,6.7,33),(99,'full',3,True),5.77,44,False,[34,8.9,'stack',6.7,4])
t[5]

[34, 8.9, 'stack', 6.7, 4]

In [18]:
t[5][1]

8.9

In [17]:
t[5][1:5]

[8.9, 'stack', 6.7, 4]

In [19]:
t[1][1:3]

('full', 3)

In [20]:
t

((3, 6.7, 33),
 (99, 'full', 3, True),
 5.77,
 44,
 False,
 [34, 8.9, 'stack', 6.7, 4])

In [21]:
t1

(3, False, 8.5)

In [22]:
if len(t)==len(t1):
    print('lenght is same')
else:
    print('lenght is not same')

lenght is not same

In [25]:
t=(3,6.3,'stack',45.3,False,4,'dev','step')
i=input('give a input you want to check: ')

if i in t:
    print('yes input is present inside tuple')
else:
    print('no input is not present')

give a input you want to check: step
yes input is present inside tuple

## SET

#### Set is a collection which will always hold distinct element inside it.

In [26]:
x=set()
type(x)

set

In [37]:
l=[34,56,34,'Sun',67,67,56,98,'son','son',98,45,33535,535,35355,353356646]

I want to obtain the unique values and remove all repeating elements. Using set we can easily achieve this thing. Though it looks like set() function gives us sorted or ordered data (this is an illusion) as the definition says that it builds an unordered collection of unique elements.

In [38]:
s=set(l)
s

{33535, 34, 353356646, 35355, 45, 535, 56, 67, 98, 'Sun', 'son'}

Immutable entities (string, tuple) can be kept inside set while mutable entities (list) cannot.

In [33]:
for i in s:
    print(i)

34
67
98
Sun
45
56
son

In [35]:
'son' in s

True

In [36]:
s[0]

TypeError: 'set' object is not subscriptable

'set' object is not subscriptable. We cannot perform indexing operation on sets.

Set will never accomodate a nested list as it expects a flattened list.

In [40]:
s=set()
s

set()

In [47]:
s.add(43)
s.add('sudh')
s.add('kumar')
s.add(34.5)
s

{34.5, 43, 'kumar', 'sudh'}

In [44]:
s.add([23])

TypeError: unhashable type: 'list'

In [48]:
s.remove('kumar')
s

{34.5, 43, 'sudh'}

In [50]:
s.clear()
s

set()

In [53]:
s={34,3,55,'ner',34.5,55,'ner',55,573,57,98}

In [54]:
s

{3, 34, 34.5, 55, 57, 573, 98, 'ner'}

In [55]:
l=[34,55.2,'sell',35.3,'fel',43]
s1=set(l)
s1

{34, 35.3, 43, 55.2, 'fel', 'sell'}

In [56]:
s+s1

TypeError: unsupported operand type(s) for +: 'set' and 'set'

In [57]:
s*4

TypeError: unsupported operand type(s) for *: 'set' and 'int'

Append and multiply operations are not possible in case of 'sets'

In [58]:
l1=list(s)
l1.append(26)

In [59]:
l1

[34, 3, 34.5, 98, 'ner', 55, 57, 573, 26]

In [60]:
t=tuple(s)
t

(34, 3, 34.5, 98, 'ner', 55, 57, 573)

In [61]:
s=set(t)
s

{3, 34, 34.5, 55, 57, 573, 98, 'ner'}

## DICTIONARY

In [62]:
x={}
type(x)

dict

In [63]:
x1={34,'set',33}
type(x1)

set

Both 'set' and 'dictionary' uses curly braces to hold the data but the difference occurs in how they hold this data.

Set holds flattened data without any pairing.

Dictionary holds data in 'key' & 'value' pair form of arrangement.

In [65]:
x={'name':'sudh','age': 25}    #key=name,age  value='sudh',25

In case of 'list' system creates defalut 'key' i.e. indexes while the element we provide is the 'value'.

If key has a duplicate then it stores the latest value corresponding to that key while 'value' can have duplicate data.

In [67]:
x1={'name':'mohd','loc':'barc',True:'not',34:357,'name':'irfan',True:'this',34.5:'barc'}
x1

{'name': 'irfan', 'loc': 'barc', True: 'this', 34: 357, 34.5: 'barc'}

In [69]:
x2={'cas':(34,46.4,66),34:[34,55,743,77.4],False:{44,3,6,5+6j}}
x2

{'cas': (34, 46.4, 66), 34: [34, 55, 743, 77.4], False: {(5+6j), 3, 44, 6}}

As a value tuple, list, dict, set, bool, float, int, str, complex everything is possible. But as key tuple is allowed whereas set, list, dict are not.

In [72]:
x3={(34,6.7,False):'str',45.5:34,'hi':'fd'}
x3

{(34, 6.7, False): 'str', 45.5: 34, 'hi': 'fd'}

In [73]:
x1[True]

'this'

In [74]:
x2[34]

[34, 55, 743, 77.4]

In [75]:
x2[34][2]

743

In [108]:
x4={'name':{'com':32,23:'not','iter':[34,5.3,True]},'loc':'barc',True:2.4,34:[23,43.3,False],(34,43):3,'firname':True,'_sd':('kik',3.4),34.5:{34.2,'kal'}}

In [85]:
x4['name']['iter'][1]

5.3

In [86]:
x1

{'name': 'irfan', 'loc': 'barc', True: 'this', 34: 357, 34.5: 'barc'}

In [87]:
x2

{'cas': (34, 46.4, 66), 34: [34, 55, 743, 77.4], False: {(5+6j), 3, 44, 6}}

In [88]:
x1+x2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [89]:
x2 * 2

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

In [90]:
x2

{'cas': (34, 46.4, 66), 34: [34, 55, 743, 77.4], False: {(5+6j), 3, 44, 6}}

In [92]:
x2[34] = 'change'
x2

{'cas': (34, 46.4, 66), 34: 'change', False: {(5+6j), 3, 44, 6}}

In dictionary, reassignment operation is possible in case of value as shown above.

### Dictionary is a mutable entitiy just like a List.

In [94]:
x2[34]=3646
x2

{'cas': (34, 46.4, 66), 34: 3646, False: {(5+6j), 3, 44, 6}}

In [95]:
x2[34] -= 10
x2

{'cas': (34, 46.4, 66), 34: 3636, False: {(5+6j), 3, 44, 6}}

In [96]:
x2.keys()

dict_keys(['cas', 34, False])

In [97]:
for i in x2:
    print(i)

cas
34
False

#### For dictionary d, if we iterate through a dictionary then i will give us 'keys' and d[i] will give values

In [98]:
for i in x2.keys():
    print(x2[i])

(34, 46.4, 66)
3636
{3, 44, 6, (5+6j)}

In [109]:
x4

{'name': {'com': 32, 23: 'not', 'iter': [34, 5.3, True]},
 'loc': 'barc',
 True: 2.4,
 34: [23, 43.3, False],
 (34, 43): 3,
 'firname': True,
 '_sd': ('kik', 3.4),
 34.5: {34.2, 'kal'}}

In [110]:
for i in x4.keys():
    print(type(x4[i]))

<class 'dict'>
<class 'str'>
<class 'float'>
<class 'list'>
<class 'int'>
<class 'bool'>
<class 'tuple'>
<class 'set'>

In [111]:
x4.items()

dict_items([('name', {'com': 32, 23: 'not', 'iter': [34, 5.3, True]}), ('loc', 'barc'), (True, 2.4), (34, [23, 43.3, False]), ((34, 43), 3), ('firname', True), ('_sd', ('kik', 3.4)), (34.5, {34.2, 'kal'})])

items() provides a list of tuples of 'key' & 'value' pair.

If I want to extract all the 'keys', then

In [116]:
for i in x4.items():
    print(i[0])

name
loc
True
34
(34, 43)
firname
_sd
34.5

Extract all the values:

In [117]:
for i in x4.items():
    print(i[1])

{'com': 32, 23: 'not', 'iter': [34, 5.3, True]}
barc
2.4
[23, 43.3, False]
3
True
('kik', 3.4)
{34.2, 'kal'}

Extract 3 from dictionary x below. Here, we have to convert 'set' into 'list' as 'set' is not subscriptable.

In [118]:
x={23:{3,4.3,22}}

In [121]:
x[23]

{3, 4.3, 22}

In [126]:
list(x[23])[0]

3

#### 1.List is a collection which is ordered and changeable. Allows duplicate members.
#### 2.Tuple is a collection which is ordered and unchangeable. Allows duplicate members.
#### 3.Set is a collection which is unordered, unchangeable*, and unindexed. No duplicate members.
#### 4.Dictionary is a collection which is ordered** and changeable. No duplicate members.

## Class Task

#### 1. Take input as a paragraph by using input funcion.
#### 2. Convert all of this input into list.
#### 3. Remove all the duplicate elements from your list.
#### 4. Use above distinct element as a key for dictionary & assign your name as a value of all the key for dictionay.
#### 5. Try to print tuple of all the values.
#### 6. Try to print list of all the key.

In [186]:
p = input('Enter the paragraph: ')
#l = list(p)            list of letters
#l = p.split('.')       list of sentences
l = p.split()           # list of words
s = set(l)
s

Enter the paragraph: Hey my name is mohd. I am currently living in Delhi. I have completed my masters. I am doing course in data science.

{'Delhi.',
 'Hey',
 'I',
 'am',
 'completed',
 'course',
 'currently',
 'data',
 'doing',
 'have',
 'in',
 'is',
 'living',
 'masters.',
 'mohd.',
 'my',
 'name',
 'science.'}

In [187]:
d={}
for i in s:
    d[i]='irfan'
d

{'my': 'irfan',
 'data': 'irfan',
 'course': 'irfan',
 'science.': 'irfan',
 'name': 'irfan',
 'I': 'irfan',
 'currently': 'irfan',
 'in': 'irfan',
 'completed': 'irfan',
 'Delhi.': 'irfan',
 'masters.': 'irfan',
 'mohd.': 'irfan',
 'am': 'irfan',
 'have': 'irfan',
 'doing': 'irfan',
 'living': 'irfan',
 'Hey': 'irfan',
 'is': 'irfan'}

In [188]:
d = dict.fromkeys(s,'irfan')
d

{'my': 'irfan',
 'data': 'irfan',
 'course': 'irfan',
 'science.': 'irfan',
 'name': 'irfan',
 'I': 'irfan',
 'currently': 'irfan',
 'in': 'irfan',
 'completed': 'irfan',
 'Delhi.': 'irfan',
 'masters.': 'irfan',
 'mohd.': 'irfan',
 'am': 'irfan',
 'have': 'irfan',
 'doing': 'irfan',
 'living': 'irfan',
 'Hey': 'irfan',
 'is': 'irfan'}

In [189]:
len(d)

18

In [190]:
l = []
for i in d:
    l.append(d[i])
tuple(l)

('irfan',
 'irfan',
 'irfan',
 'irfan',
 'irfan',
 'irfan',
 'irfan',
 'irfan',
 'irfan',
 'irfan',
 'irfan',
 'irfan',
 'irfan',
 'irfan',
 'irfan',
 'irfan',
 'irfan',
 'irfan')

In [195]:
tuple(d.values())

('irfan',
 'irfan',
 'irfan',
 'irfan',
 'irfan',
 'irfan',
 'irfan',
 'irfan',
 'irfan',
 'irfan',
 'irfan',
 'irfan',
 'irfan',
 'irfan',
 'irfan',
 'irfan',
 'irfan',
 'irfan')

In [191]:
d.items()

dict_items([('my', 'irfan'), ('data', 'irfan'), ('course', 'irfan'), ('science.', 'irfan'), ('name', 'irfan'), ('I', 'irfan'), ('currently', 'irfan'), ('in', 'irfan'), ('completed', 'irfan'), ('Delhi.', 'irfan'), ('masters.', 'irfan'), ('mohd.', 'irfan'), ('am', 'irfan'), ('have', 'irfan'), ('doing', 'irfan'), ('living', 'irfan'), ('Hey', 'irfan'), ('is', 'irfan')])

In [192]:
l1=[]
for i in d.items():
    l1.append(i[0])
l1

['my',
 'data',
 'course',
 'science.',
 'name',
 'I',
 'currently',
 'in',
 'completed',
 'Delhi.',
 'masters.',
 'mohd.',
 'am',
 'have',
 'doing',
 'living',
 'Hey',
 'is']

In [194]:
list(d.keys())

['my',
 'data',
 'course',
 'science.',
 'name',
 'I',
 'currently',
 'in',
 'completed',
 'Delhi.',
 'masters.',
 'mohd.',
 'am',
 'have',
 'doing',
 'living',
 'Hey',
 'is']

In [203]:
p = 'I am living in delhi. I am doing a Data science course. I am a masters in physics. Data science is as good as physics.'

l=p.split()
s=set(l)
d=dict.fromkeys(s,'irfan')
t=tuple(d.values())
f=list(d.keys())

In [209]:
d={"comapny":"tata","course": "data science","year":2019}

for i in d:
    print('key is: ',i,';','values are: ',d[i])

key is:  comapny ; values are:  tata
key is:  course ; values are:  data science
key is:  year ; values are:  2019

In [210]:
'year' in d

True

In [214]:
for i in d:
    if i=='year':
        if d[i]>=2020:
            print('Year is fine')
        else:
            d[i] += 1

Year is fine

In [213]:
d

{'comapny': 'tata', 'course': 'data science', 'year': 2020}

#### Dictionary Comprehension

In [215]:
my_dict = {}

for i in range(10):
    my_dict[i] = i*i
my_dict

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [216]:
{i:i*i for i in range(10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [218]:
q=45,
type(q)

tuple